<head>
  {%- include google-analytics.html -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../assets/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg" />
  <link rel="shortcut icon" href="../assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png" />
  <link rel="manifest" href="../assets/site.webmanifest" />
  {%- seo -%}
  <link id="main-stylesheet" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {%- feed_meta -%}

  {%- include custom-head.html -%}
  
</head>
