<div class="signup-form-container">
  <div class="signup-form-card">
    <p class="signup-form-description">Her Cloud is where curiosity meets community in the world of cloud computing. Join us to build real skills, learn from mentors, and grow your network in a supportive environment.</p>
    
    <div class="google-form-wrapper">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd7u4MDcVu85YZR3BUFLmYkt0tyCPde7qOzu9_YvZWf66J8SA/viewform?embedded=true" width="100%" height="1392" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</div>
